.container{ 'data-js' => 'app' }

:coffeescript
  $ ->
    boards = new Boards()
    new AppRouter($el: $('[data-js=app]'), boards: boards)
    Backbone.history ||= new Backbone.History({})
    Backbone.history.start()
