.container{ 'data-js' => 'app' }

:coffeescript
  $ ->
    boards = new Dk.Collections.Boards()
    new Dk.Routers.AppRouter($el: $('[data-js=app]'), boards: boards)
    Backbone.history ||= new Backbone.History({})
    Backbone.history.start()
