.container{ 'data-js' => 'app' }

:coffeescript
  $ ->
    boards = new Dk.Collections.Boards()
    boards.fetch
      success: ->
        new Dk.Routers.AppRouter($el: $('[data-js=app]'), boards: boards)
        unless Backbone.history.started
          Backbone.history ||= new Backbone.History({})
          Backbone.history.start()
